
<%
  posts.forEach(function(post) {
%>  <div class='ui segment items'>
      <div class="item">
        <div class="content post">
          <div class='header'>
            <%= post.title %>
          </div>
          <div class='meta'>
            <span class="date">
              <%=
                formatDate(post.timestamp);
              %>
            </span>
          </div>
          <div class='description'>
            <%
              let displayPost = post.content.slice(0, Math.min(300, post.content.indexOf('<\/p>')));
              displayPost = displayPost.replace(/<\/?\D{1,4}\d?>/g, '');
            %>
            <%- displayPost + '...' %>
          </div>
          <div class='extra'>
            <a class='ui right floated green basic button' href='/posts/<%= post._id %>'>
              Continue to post
            </a>
          </div>
        </div>
      </div>
    </div>
<%
  })
%>

<div class="pagination-wrapper">
  <div class="ui pagination menu">
    <% if (previousPage) { %>
      <a class="item" href='/posts/?page=<%= previousPage %>'>
        Previous
      </a>
    <% } %>
    <a class="active item" href='/posts/?page=2'>
      Page <%= currentPage %>
    </a>
    <% if (nextPage) { %>
      <a class="item" href='/posts/?page=<%= nextPage %>'>
        Next
      </a>
    <% } %>
  </div>
</div>
